library/MCP-Tool-N8n-Search.json
{
  "name": "MCP-Tool-N8n-Search",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "mcp/n8n-search", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_API_BASE_URL || 'http://marcus-n8n:5678/api/v1' }}/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" } ] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "id": "get-all",
      "name": "Get All Workflows"
    },
    {
      "parameters": {
        "jsCode": "const term = $input.first().json.body.searchTerm.toLowerCase();\nconst workflows = $input.all()[0].json.data;\n\nconst found = workflows.filter(w => \n  w.name.toLowerCase().includes(term) || \n  w.id.includes(term)\n);\n\nreturn found.map(w => ({ json: { id: w.id, name: w.name, active: w.active } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "filter",
      "name": "Filter Results"
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Get All Workflows", "type": "main", "index": 0 }]] },
    "Get All Workflows": { "main": [[{ "node": "Filter Results", "type": "main", "index": 0 }]] }
  },
  "tags": ["MCP-Tool"]
}